/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: $dark-bg;
}

h1 {
  font-family: $title-font;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $subtitle-font;
}

@import "header";
@import "page";
@import "footer";
