/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: $dark-bg;
}

h1 {
  font-family: $title-font;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $subtitle-font;
}

/* Site Header */
.site-header {
  position: relative;
  padding: 0.25rem 0.5rem;
  background-image: $gold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  height: 64px;
}
.site-title {
  font-family: $title-font;
  font-size: 3rem;
  text-decoration: none;
  color: $black;

  @include media-query($on-palm) {
    font-size: 1.75rem;
  }
}
.site-nav {
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100%;

  .nav-trigger {
    display: none;
  }
  .menu-icon {
    display: none;
  }

  .trigger {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
  }

  .page-link {
    font-family: $subtitle-font;
    text-decoration: none;
    color: $black;
    font-size: 1.5rem;

    &:not(:last-child) {
      // margin-right: 3rem;
    }
  }

  @include media-query($on-laptop) {
    label[for="nav-trigger"] {
      line-height: 0;
      display: block;
      height: 100%;
      z-index: 2;
      cursor: pointer;

      position: relative;
      top: 0;
      right: 0;
    }
    .menu-icon {
      display: block;
      height: 100%;
    }

    input ~ .trigger {
      display: none;
    }
    input:checked ~ .trigger {
      display: block;
      width: 100%;
    }

    .page-link {
      display: block;
      text-align: center;
      margin-top: 1rem;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/* Page Content */
.page-content {
  flex: 1;
  margin: 1rem;
  padding: 1rem 2rem;
  border: 10px solid transparent;
  border-image: $border-svg 230 round;

  .page-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 0 5rem;
    // color: $teal;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: $gold;

    @include media-query($on-palm) {
      font-size: 2rem;
      padding: 0;
    }
  }

  .container {
    display: flex;
    flex-flow: wrap;

    &.center {
      justify-content: center;
      align-items: center;
    }
  }

  .frame {
    box-shadow: 0 0 4px 8px rgba($yellow, 0.2);
  }

  .cards {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .card {
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: transform 0.2s ease;
    background-image: $gold;

    .card-title {
      font-size: 3rem;
      font-family: $subtitle-font;
      padding: 0.25rem 0.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Site Footer */
.site-footer {
  position: absolute;
  bottom: 0;
}
