@charset "utf-8";

@font-face {
  font-family: "Park Lane";
  src: url("../assets/fonts/ParkLaneNf-pRdR.ttf");
}
@font-face {
  font-family: "Market Deco";
  src: url("../assets/fonts/Market_Deco.ttf");
}
@font-face {
  font-family: "Javanese";
  src: url("../assets/fonts/javatext.ttf");
}

$border-svg: url(../assets/border.svg);
$frame-svg: url(../assets/frame.svg);
$accent-frame-svg: url("../assets/accent\ frame.svg");
$accent-frame-png: url("../assets/accent\ frame.png");

// Colours
$dark-bg: #0f1911;
$light-bg: #1e2514;
$black: #130e0a;
$green: #667f61;
$teal: #92bca0;
$white: #f4ecd6;
$salmon: #f4805c;
$gold: linear-gradient(to right, #cc9a49, #f6dc81, #cc9a49, #f6dc81, #cc9a49);
$yellow: #cb9947;

// Fonts
$title-font: "Park Lane", cursive;
$subtitle-font: "Market Deco", sans-serif;
$body-font: "Javanese", serif;

// Device Sizes
$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
