---
layout: default
---

<h1 class="page-title club">
  <div class="wrapper">{{ page.title }}</div>
</h1>

<section class="club">
  <div class="members">
    {%- assign roles = '' | split: '' -%}
    {%- for member in site.data[page.file_name] -%}
      {%- assign role = member.Role -%}
      {%- assign roles = role | concat: roles -%}
    {%- endfor -%}
    {%- assign roles = roles | uniq | reverse -%}
    {%- if roles contains 'Member' -%}
      {%- assign roles = roles | where_exp: "role", "role != 'Member'" | push: "Member" -%}
    {%- endif -%}
    {%- for role in roles -%}
      {%- assign members = site.data[page.file_name] | where: "Role",role | uniq | sort_natural -%}
      <h2>
        {{- role | replace: '/', '/&#8203;' -}}
        {%- assign vowels = "a,e,i,o,u" | split: "," -%}
        {%- assign last_char = role | split: '' | last -%}
        {%- if members.size > 1 and last_char != 's' and last_char != 'w' -%}
          {%- unless vowels contains last_char -%}
            s
          {%- endunless -%}
        {%- endif -%}
      </h2>
      <ul>
        {%- for member in members -%}
          <li>{{- member.Name -}}</li>
        {%- endfor -%}
      </ul>
    {%- endfor -%}
  </div>

  {{ content }}
</section>
